@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<p>
    In this sample project the domain data is stored in a SQLServer database without using event sourcing and the domain data (aggregates, commands and events) is stored in a CosmosDB with SQL API.
</p>

<p>
    <a asp-page="./List">Products</a>
</p>
