@page
@model CreateModel
@{
    ViewData["Title"] = "Create Product";
}

<h1>Create Product</h1>
<p>The create product command is automatically validated using the validation service. All fields are mandatory.</p>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="Product.Name"></label>
                    <input asp-for="Product.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Product.Description"></label>
                    <input asp-for="Product.Description" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Product.Price"></label>
                    <input asp-for="Product.Price" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
                <a asp-page="./List" class="btn btn-secondary" role="button">Cancel</a>
            </div>
        </form>
    </div>
</div>
