@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<p>
    In this sample project the domain data is stored in a CosmosDB database using event sourcing and the read model is stored in a SQL Server database.
</p>

<p>
    <a asp-page="./List">Products</a>
</p>
