---
---

@import "{{ site.theme }}";

header {
  width:220px;
  float:right;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

section {
  width:550px;
  float:left;
  padding-bottom:50px;
}
